/*
 由 IBus 主题工具生成
 工具作者： Hollow Man <hollowman@hollowman.ml>
 工具源代码： https://github.com/openSUSE/IBus-Theme-Tools
 工具许可证： GPLv3
 样式表源文件： /home/hollowman/.themes/Unity8-Wood-Modern/gnome-shell/gnome-shell.css

 推荐使用 自定义 IBus GNOME Shell 扩展：
 https://extensions.gnome.org/extension/4112/customize-ibus/
 来通过选定此文件改变IBus主题。

 如你的 IBus 样式表在应用后作出了更改，Customize IBus 扩展版本
 为 v68 之前的请关闭并重新开启对应`自定义主题`来使其生效。
 

 从 v69 开始，支持样式表热重载, CSS 的变化会实时地体现出来。
*/

.candidate-page-button:hover, .candidate-page-button:focus {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15) !important;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.candidate-page-button:active, .candidate-page-button:checked {
  color: #ffffff;
background-color: rgba(246,171,79,0.2);      
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.candidate-page-button:insensitive {
  color: rgba(255, 255, 255, 0.4);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.candidate-page-button:hover {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

.candidate-page-button:active {
background-color: rgba(246,171,79,0.2);      
}

.candidate-index {
  padding: 0 4px 0 0;
  color: rgba(255, 255, 255, 0.75);
}

.candidate-box:selected .candidate-index {
  color: #ffffff;
}

.candidate-box:hover .candidate-index {
  color: #ffffff;
}

.candidate-box:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

.candidate-box:active {
background-color: rgba(246,171,79,0.1);
  color: #ffffff;
}

.candidate-box:selected {
  background-color: #E95420;
  color: #ffffff;
}

.candidate-page-button-box {
  height: 30px;
}

.vertical .candidate-page-button-box {
  padding-top: 0.5em;
}

.horizontal .candidate-page-button-box {
  padding-left: 0.5em;
}

.candidate-page-button-previous,
.candidate-page-button-next {
  border-radius: 4px;
}

.candidate-page-button-previous:hover, .candidate-page-button-previous:active,
.candidate-page-button-next:hover,
.candidate-page-button-next:active {
  background-color: transparent !important;
}

.candidate-page-button-previous:hover StIcon,
.candidate-page-button-next:hover StIcon {
  color: #eb6637;
}

.candidate-page-button-previous:active StIcon,
.candidate-page-button-next:active StIcon {
  color: #da4816;
}

.candidate-page-button-icon {
  icon-size: 1.14286em;
}

.candidate-box {
  transition-duration: 150ms;
  min-height: 30px;
  padding: 0 8px;
  border-radius: 4px;
  /* 修复候选词颜色 */
  color: #ffffff;
}

.candidate-popup-content {
  background: url("/home/hollowman/.themes/Unity8-Wood-Modern/gnome-shell/assets/bg.png");
  background-repeat:no-repeat;
  background-size:cover;
  border: 1px solid rgba(244, 244, 244, 0.1) !important;
  padding: 8px;
  spacing: 0;
  /* 修复系统主题IBus边框阴影部分被替换的主题继承 */
  box-shadow: none;
  /* 修复候选词颜色 */
  color: #ffffff;
}

.candidate-popup-boxpointer {
  -arrow-border-radius: 2px;
  -arrow-background-color: #ffffff;
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(0, 0, 0, 0.15);
  -arrow-base: 5;
  -arrow-rise: 5;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(16, 16, 16, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  /* 修复当系统主题为黑色时指示框黑边 */
  border-image: none;
}

/* 结合系统调页按钮和IBUS样式的调页按钮 */
.candidate-page-button {
  transition-duration: 150ms;
  min-height: 32px;
  padding: 0 16px;
  border-width: 0;
  font-size: 9.5pt;
  font-weight: 500;
  transition-duration: 250ms;
  color: #ffffff;
    	background-color: rgba(59,36,24,1);
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
  /* IBUS样式的调页按钮 */
  min-width: 30px;
  min-height: 30px;
  padding: 0;
}
